.slide-up-box {
    position: fixed;
    bottom: -400px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    padding: 1rem 2rem;
    border-radius: 20px;
    transition: all 0.5s ease-out;
    border: 1px solid #ff64d0;
    max-width: 400px;
    width: 80%;
    color: white;
}

.slide-up-box.visible {
    bottom: 50%;
}